
.elementor-35 .elementor-element.elementor-element-615a590 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-35 .elementor-element.elementor-element-615a590 {
	overflow: hidden;
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 100px 0px 100px 0px;
}

.elementor-35 .elementor-element.elementor-element-615a590:not(.elementor-motion-effects-element-type-background), .elementor-35 .elementor-element.elementor-element-615a590 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-35 .elementor-element.elementor-element-615a590 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-35 .elementor-element.elementor-element-011bc81 {
	text-align: center;
}

.elementor-35 .elementor-element.elementor-element-011bc81 .elementor-heading-title {
	font-size: 3.1em;
	font-weight: 700;
}

.elementor-35 .elementor-element.elementor-element-977c715 > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-977c715 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-2b1538c > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-3dad470 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-3dad470 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-6343aee.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-6343aee.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-6343aee.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-6343aee {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-6343aee .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-6313d87 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-8879611 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-8879611 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-b84a16a.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-b84a16a.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-b84a16a.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-b84a16a {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-b84a16a .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-594f00d > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-13d28be img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-13d28be > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-4fb2220.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-4fb2220.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-4fb2220.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-4fb2220 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-4fb2220 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-c3eaae0 > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-c3eaae0 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.elementor-35 .elementor-element.elementor-element-f18b996 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-54b0dac img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-54b0dac > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-6918999.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-6918999.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-6918999.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-6918999 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-6918999 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-12f7145 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-2f721ea img {
	width: 47%;
}

.elementor-35 .elementor-element.elementor-element-2f721ea > .elementor-widget-container {
	margin: 0px 0px -39px 0px;
}

.elementor-35 .elementor-element.elementor-element-bedf3f0.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-bedf3f0.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-bedf3f0.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-bedf3f0 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-bedf3f0 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-c96ddeb > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-5d726a5 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-5d726a5 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-5d726a5 {
	z-index: 2;
}

.elementor-35 .elementor-element.elementor-element-2c2ccb7.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-2c2ccb7.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-2c2ccb7.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-2c2ccb7 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-2c2ccb7 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-7157d55 > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-7157d55 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-df685eb > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-5dd81fe img {
	width: 33%;
}

.elementor-35 .elementor-element.elementor-element-5dd81fe > .elementor-widget-container {
	margin: 0px 0px -10px 0px;
}

.elementor-35 .elementor-element.elementor-element-5300aba.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-5300aba.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-5300aba.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-5300aba {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-5300aba .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-e34701d > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-5af4d3d img {
	width: 39%;
}

.elementor-35 .elementor-element.elementor-element-5af4d3d > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-689677a.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-689677a.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-689677a.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-689677a {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-689677a .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-06013c6 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-d03e175 img {
	width: 39%;
}

.elementor-35 .elementor-element.elementor-element-d03e175 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-9dd928a.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-9dd928a.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-9dd928a.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-9dd928a {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-9dd928a .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-6344b08 > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-6344b08 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-302b026 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-0aa74eb img {
	width: 46%;
}

.elementor-35 .elementor-element.elementor-element-0aa74eb > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-0407a27.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-0407a27.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-0407a27.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-0407a27 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-0407a27 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-18c29e2 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-62ce6af img {
	width: 42%;
}

.elementor-35 .elementor-element.elementor-element-62ce6af > .elementor-widget-container {
	margin: 0px 0px -20px 0px;
}

.elementor-35 .elementor-element.elementor-element-4f469a6.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-4f469a6.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-4f469a6.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-4f469a6 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-4f469a6 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-395d2e2 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-c720216 img {
	width: 51%;
}

.elementor-35 .elementor-element.elementor-element-c720216 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-7ab9430.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-7ab9430.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-7ab9430.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-7ab9430 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-7ab9430 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-51c25ce > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-51c25ce {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-d8b18fa > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-65d38dd img {
	width: 35%;
}

.elementor-35 .elementor-element.elementor-element-65d38dd > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-42ceb3f.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-42ceb3f.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-42ceb3f.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-42ceb3f {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-42ceb3f .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-5b9220f > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-2514967 img {
	width: 36%;
}

.elementor-35 .elementor-element.elementor-element-2514967 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-ce9e6d6.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-ce9e6d6.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-ce9e6d6.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-ce9e6d6 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-ce9e6d6 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-346e95b > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-dd56024 img {
	width: 35%;
}

.elementor-35 .elementor-element.elementor-element-dd56024 > .elementor-widget-container {
	margin: 0px 0px -20px 0px;
}

.elementor-35 .elementor-element.elementor-element-4e0c694.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-4e0c694.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-4e0c694.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-4e0c694 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-4e0c694 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-deb5077 > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-deb5077 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-e1f7a12 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-3ee8260 img {
	width: 41%;
}

.elementor-35 .elementor-element.elementor-element-3ee8260 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-544f511.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-544f511.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-544f511.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-544f511 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-544f511 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-01645ad > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-56b7de0 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-56b7de0 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-52fcf80.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-52fcf80.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-52fcf80.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-52fcf80 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-52fcf80 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-2923dc5 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-6db9a02 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-6db9a02 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-a249e3c.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-a249e3c.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-a249e3c.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-a249e3c {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-a249e3c .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-a2f8e43 > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-a2f8e43 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-b835f2e > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-b77b015 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-b77b015 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-c8bbed8.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-c8bbed8.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-c8bbed8.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-c8bbed8 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-c8bbed8 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-4093ec7 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-7feca3e img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-7feca3e > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-87fb917.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-87fb917.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-87fb917.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-87fb917 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-87fb917 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-830e76f > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-a50ce54 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-a50ce54 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-eab5439.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-eab5439.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-eab5439.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-eab5439 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-eab5439 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-f6c0dfd > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-f6c0dfd {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-32e3b5b > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-edcc445 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-edcc445 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-dea4aa0.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-dea4aa0.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-dea4aa0.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-dea4aa0 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-dea4aa0 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-2dbc6e3 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-2f4473b img {
	width: 41%;
}

.elementor-35 .elementor-element.elementor-element-2f4473b > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-ee2f39d.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-ee2f39d.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-ee2f39d.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-ee2f39d {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-ee2f39d .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-5f73dd3 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-b312020 img {
	width: 41%;
}

.elementor-35 .elementor-element.elementor-element-b312020 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-0c3a69c.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-0c3a69c.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-0c3a69c.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-0c3a69c {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-0c3a69c .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-74dcd1c > .elementor-container {
	max-width: 1000px;
}

.elementor-35 .elementor-element.elementor-element-74dcd1c {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-35 .elementor-element.elementor-element-82114d6 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-b6462c8 img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-b6462c8 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-fd16b59.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-fd16b59.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-fd16b59.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-fd16b59 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-fd16b59 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-4c164e0 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-447595e img {
	width: 40%;
}

.elementor-35 .elementor-element.elementor-element-447595e > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-11ff183.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-11ff183.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-11ff183.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-11ff183 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-11ff183 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

.elementor-35 .elementor-element.elementor-element-cc3db33 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-35 .elementor-element.elementor-element-91c9152 img {
	width: 41%;
}

.elementor-35 .elementor-element.elementor-element-91c9152 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-35 .elementor-element.elementor-element-2aeb6d3.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-2aeb6d3.elementor-view-framed .elementor-icon, .elementor-35 .elementor-element.elementor-element-2aeb6d3.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-35 .elementor-element.elementor-element-2aeb6d3 {
	--icon-box-icon-margin: 15px;
}

.elementor-35 .elementor-element.elementor-element-2aeb6d3 .elementor-icon-box-title {
	color: var(--e-global-color-primary);
}

@media (max-width:1199px) and (min-width:800px) {
	.elementor-35 .elementor-element.elementor-element-2b1538c {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-6313d87 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-594f00d {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-f18b996 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-12f7145 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-c96ddeb {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-df685eb {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-e34701d {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-06013c6 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-302b026 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-18c29e2 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-395d2e2 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-d8b18fa {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-5b9220f {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-346e95b {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-e1f7a12 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-01645ad {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2923dc5 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-b835f2e {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-4093ec7 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-830e76f {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-32e3b5b {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2dbc6e3 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-5f73dd3 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-82114d6 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-4c164e0 {
		width: 100%;
	}
	
	.elementor-35 .elementor-element.elementor-element-cc3db33 {
		width: 100%;
	}
}

@media (max-width:1199px) {
	.elementor-35 .elementor-element.elementor-element-615a590 {
		padding: 80px 40px 80px 40px;
	}
	
	.elementor-35 .elementor-element.elementor-element-977c715 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-3dad470 img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-3dad470 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-8879611 img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-8879611 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-13d28be img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-13d28be > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-54b0dac img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-54b0dac > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-2f721ea img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2f721ea > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-5d726a5 img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-5d726a5 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-5d726a5 {
		z-index: 2;
	}
	
	.elementor-35 .elementor-element.elementor-element-2c2ccb7 .elementor-icon-box-wrapper {
		text-align: center;
	}
	
	.elementor-35 .elementor-element.elementor-element-2c2ccb7 {
		z-index: 2;
	}
	
	.elementor-35 .elementor-element.elementor-element-7157d55 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-5dd81fe img {
		width: 16%;
	}
	
	.elementor-35 .elementor-element.elementor-element-5dd81fe > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-5af4d3d img {
		width: 20%;
	}
	
	.elementor-35 .elementor-element.elementor-element-5af4d3d > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-d03e175 img {
		width: 19%;
	}
	
	.elementor-35 .elementor-element.elementor-element-d03e175 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-6344b08 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-0aa74eb img {
		width: 24%;
	}
	
	.elementor-35 .elementor-element.elementor-element-0aa74eb > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-62ce6af img {
		width: 20%;
	}
	
	.elementor-35 .elementor-element.elementor-element-62ce6af > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-c720216 img {
		width: 24%;
	}
	
	.elementor-35 .elementor-element.elementor-element-c720216 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-51c25ce {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-65d38dd img {
		width: 18%;
	}
	
	.elementor-35 .elementor-element.elementor-element-65d38dd > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-2514967 img {
		width: 21%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2514967 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-dd56024 img {
		width: 20%;
	}
	
	.elementor-35 .elementor-element.elementor-element-dd56024 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-deb5077 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-3ee8260 img {
		width: 24%;
	}
	
	.elementor-35 .elementor-element.elementor-element-3ee8260 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-56b7de0 img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-56b7de0 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-6db9a02 img {
		width: 24%;
	}
	
	.elementor-35 .elementor-element.elementor-element-6db9a02 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-a2f8e43 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-b77b015 img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-b77b015 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-7feca3e img {
		width: 20%;
	}
	
	.elementor-35 .elementor-element.elementor-element-7feca3e > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-a50ce54 img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-a50ce54 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-f6c0dfd {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-edcc445 img {
		width: 22%;
	}
	
	.elementor-35 .elementor-element.elementor-element-edcc445 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-2f4473b img {
		width: 21%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2f4473b > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-b312020 img {
		width: 20%;
	}
	
	.elementor-35 .elementor-element.elementor-element-b312020 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-74dcd1c {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-b6462c8 img {
		width: 21%;
	}
	
	.elementor-35 .elementor-element.elementor-element-b6462c8 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-447595e img {
		width: 20%;
	}
	
	.elementor-35 .elementor-element.elementor-element-447595e > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-91c9152 img {
		width: 24%;
	}
	
	.elementor-35 .elementor-element.elementor-element-91c9152 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}
}

@media (max-width:799px) {
	.elementor-35 .elementor-element.elementor-element-615a590 {
		padding: 50px 20px 50px 20px;
	}
	
	.elementor-35 .elementor-element.elementor-element-011bc81 {
		text-align: center;
		z-index: 1;
	}
	
	.elementor-35 .elementor-element.elementor-element-011bc81 .elementor-heading-title {
		font-size: 2.5em;
		letter-spacing: -2.7px;
	}
	
	.elementor-35 .elementor-element.elementor-element-977c715 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-3dad470 img {
		width: 29%;
	}
	
	.elementor-35 .elementor-element.elementor-element-8879611 img {
		width: 33%;
	}
	
	.elementor-35 .elementor-element.elementor-element-13d28be img {
		width: 33%;
	}
	
	.elementor-35 .elementor-element.elementor-element-c3eaae0 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-54b0dac img {
		width: 36%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2f721ea img {
		width: 38%;
	}
	
	.elementor-35 .elementor-element.elementor-element-5d726a5 img {
		width: 32%;
	}
	
	.elementor-35 .elementor-element.elementor-element-7157d55 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-5dd81fe img {
		width: 25%;
	}
	
	.elementor-35 .elementor-element.elementor-element-5af4d3d img {
		width: 30%;
	}
	
	.elementor-35 .elementor-element.elementor-element-d03e175 img {
		width: 29%;
	}
	
	.elementor-35 .elementor-element.elementor-element-6344b08 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-0aa74eb img {
		width: 33%;
	}
	
	.elementor-35 .elementor-element.elementor-element-62ce6af img {
		width: 30%;
	}
	
	.elementor-35 .elementor-element.elementor-element-c720216 img {
		width: 37%;
	}
	
	.elementor-35 .elementor-element.elementor-element-51c25ce {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-65d38dd img {
		width: 26%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2514967 img {
		width: 33%;
	}
	
	.elementor-35 .elementor-element.elementor-element-dd56024 img {
		width: 30%;
	}
	
	.elementor-35 .elementor-element.elementor-element-deb5077 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-3ee8260 img {
		width: 33%;
	}
	
	.elementor-35 .elementor-element.elementor-element-56b7de0 img {
		width: 31%;
	}
	
	.elementor-35 .elementor-element.elementor-element-6db9a02 img {
		width: 36%;
	}
	
	.elementor-35 .elementor-element.elementor-element-a2f8e43 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-b77b015 img {
		width: 33%;
	}
	
	.elementor-35 .elementor-element.elementor-element-7feca3e img {
		width: 30%;
	}
	
	.elementor-35 .elementor-element.elementor-element-a50ce54 img {
		width: 32%;
	}
	
	.elementor-35 .elementor-element.elementor-element-f6c0dfd {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-edcc445 img {
		width: 31%;
	}
	
	.elementor-35 .elementor-element.elementor-element-2f4473b img {
		width: 31%;
	}
	
	.elementor-35 .elementor-element.elementor-element-b312020 img {
		width: 31%;
	}
	
	.elementor-35 .elementor-element.elementor-element-74dcd1c {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-35 .elementor-element.elementor-element-b6462c8 img {
		width: 29%;
	}
	
	.elementor-35 .elementor-element.elementor-element-447595e img {
		width: 31%;
	}
	
	.elementor-35 .elementor-element.elementor-element-91c9152 img {
		width: 32%;
	}
}
