
.elementor-76 .elementor-element.elementor-element-ea1c717 > .elementor-container {
	max-width: 1600px;
}

.elementor-76 .elementor-element.elementor-element-ea1c717 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-76 .elementor-element.elementor-element-ea1c717:not(.elementor-motion-effects-element-type-background), .elementor-76 .elementor-element.elementor-element-ea1c717 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: #f7fbfe;
}

.elementor-76 .elementor-element.elementor-element-ea1c717 > .elementor-background-overlay {
	opacity: .5;
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-76 .elementor-element.elementor-element-ea1c717 {
	border-style: solid;
	border-width: 0px 0px 0px 0px;
	border-color: var(--e-global-color-secondary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 20px 20px 20px 20px;
	z-index: 99;
}

.elementor-76 .elementor-element.elementor-element-f931a99 img {
	width: 160px;
}

.elementor-76 .elementor-element.elementor-element-f931a99 {
	width: auto;
	max-width: auto;
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-menu-toggle {
	margin: 0 auto;
	background-color: var(--e-global-color-primary);
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu .elementor-item {
	font-size: .9em;
	font-weight: 700;
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main .elementor-item {
	color: var(--e-global-color-primary);
	fill: var(--e-global-color-primary);
	padding-left: 8px;
	padding-right: 8px;
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main .elementor-item:hover, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main .elementor-item.elementor-item-active, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main .elementor-item.highlighted, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main .elementor-item:focus {
	color: var(--e-global-color-accent);
	fill: var(--e-global-color-accent);
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after {
	background-color: var(--e-global-color-accent);
}

.elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-framed .elementor-item:before, .elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-framed .elementor-item:after {
	border-color: var(--e-global-color-accent);
}

.elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-framed .elementor-item:before {
	border-width: 2px;
}

.elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-framed.e--animation-draw .elementor-item:before {
	border-width: 0 0 2px 2px;
}

.elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-framed.e--animation-draw .elementor-item:after {
	border-width: 2px 2px 0 0;
}

.elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-framed.e--animation-corners .elementor-item:before {
	border-width: 2px 0 0 2px;
}

.elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-framed.e--animation-corners .elementor-item:after {
	border-width: 0 2px 2px 0;
}

.elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-underline .elementor-item:after, .elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-overline .elementor-item:before, .elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-double-line .elementor-item:before, .elementor-76 .elementor-element.elementor-element-deee048 .e--pointer-double-line .elementor-item:after {
	height: 2px;
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown a, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-menu-toggle {
	color: var(--e-global-color-f23f308);
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown {
	background-color: var(--e-global-color-primary);
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown a:hover, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown a.elementor-item-active, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown a.highlighted {
	background-color: var(--e-global-color-accent);
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown .elementor-item, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown  .elementor-sub-item {
	font-size: 1em;
	font-weight: 700;
}

.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown li:not(:last-child) {
	border-style: solid;
	border-color: var(--e-global-color-secondary);
	border-bottom-width: 1px;
}

.elementor-76 .elementor-element.elementor-element-deee048 div.elementor-menu-toggle {
	color: var(--e-global-color-f23f308);
}

.elementor-76 .elementor-element.elementor-element-deee048 div.elementor-menu-toggle svg {
	fill: var(--e-global-color-f23f308);
}

.elementor-76 .elementor-element.elementor-element-deee048 > .elementor-widget-container {
	margin: 0px 0px 0px 50px;
}

.elementor-76 .elementor-element.elementor-element-deee048 {
	width: auto;
	max-width: auto;
}

.elementor-76 .elementor-element.elementor-element-00a8c18.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: flex-end;
}

.elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button .elementor-align-icon-right {
	margin-left: 11px;
}

.elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button .elementor-align-icon-left {
	margin-right: 11px;
}

.elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	background-color: var(--e-global-color-f23f308);
}

.elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button:hover, .elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button:focus {
	color: var(--e-global-color-accent);
}

.elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button:hover svg, .elementor-76 .elementor-element.elementor-element-38f3649 .elementor-button:focus svg {
	fill: var(--e-global-color-accent);
}

.elementor-76 .elementor-element.elementor-element-38f3649 {
	width: auto;
	max-width: auto;
}

.elementor-76 .elementor-element.elementor-element-2484153 .elementor-button .elementor-align-icon-right {
	margin-left: 0px;
}

.elementor-76 .elementor-element.elementor-element-2484153 .elementor-button .elementor-align-icon-left {
	margin-right: 0px;
}

.elementor-76 .elementor-element.elementor-element-2484153 .elementor-button {
	background-color: var(--e-global-color-accent);
	padding: 10px 20px 10px 20px;
}

.elementor-76 .elementor-element.elementor-element-2484153 .elementor-button:hover, .elementor-76 .elementor-element.elementor-element-2484153 .elementor-button:focus {
	background-color: var(--e-global-color-primary);
}

.elementor-76 .elementor-element.elementor-element-2484153 {
	width: auto;
	max-width: auto;
}

@media (max-width:1199px) {
	.elementor-76 .elementor-element.elementor-element-ea1c717 {
		padding: 20px 20px 5px 20px;
	}
	
	.elementor-76 .elementor-element.elementor-element-2d99907.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
		justify-content: space-between;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main .elementor-item {
		padding-left: 12px;
		padding-right: 12px;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown .elementor-item, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown  .elementor-sub-item {
		font-size: 1.3em;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-menu-toggle {
		font-size: 27px;
		border-radius: 100px;
	}
}

@media (max-width:799px) {
	.elementor-76 .elementor-element.elementor-element-ea1c717 {
		border-width: 0px 0px 1px 0px;
		padding: 10px 20px 10px 20px;
	}
	
	.elementor-76 .elementor-element.elementor-element-2d99907 {
		width: 100%;
	}
	
	.elementor-bc-flex-widget .elementor-76 .elementor-element.elementor-element-2d99907.elementor-column .elementor-column-wrap {
		align-items: center;
	}
	
	.elementor-76 .elementor-element.elementor-element-2d99907.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
		align-content: center;
		align-items: center;
	}
	
	.elementor-76 .elementor-element.elementor-element-2d99907.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
		justify-content: space-between;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu .elementor-item {
		font-size: 1.3em;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main .elementor-item {
		padding-left: 0px;
		padding-right: 0px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 {
		--e-nav-menu-horizontal-menu-item-margin: calc(10px / 2);
		width: auto;
		max-width: auto;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child) {
		margin-bottom: 10px;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown .elementor-item, .elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown  .elementor-sub-item {
		font-size: 1.2em;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-nav-menu--dropdown a {
		padding-top: 15px;
		padding-bottom: 15px;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 .elementor-menu-toggle {
		font-size: 29px;
		border-radius: 50%;
	}
	
	.elementor-76 .elementor-element.elementor-element-deee048 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-76 .elementor-element.elementor-element-00a8c18 {
		width: 100%;
	}
	
	.elementor-76 .elementor-element.elementor-element-00a8c18 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 0px;
	}
}

@media (min-width:800px) {
	.elementor-76 .elementor-element.elementor-element-2d99907 {
		width: 69.042%;
	}
	
	.elementor-76 .elementor-element.elementor-element-00a8c18 {
		width: 30.958%;
	}
}

@media (max-width:1199px) and (min-width:800px) {
	.elementor-76 .elementor-element.elementor-element-2d99907 {
		width: 100%;
	}
	
	.elementor-76 .elementor-element.elementor-element-00a8c18 {
		width: 70%;
	}
}
