
.elementor-81 .elementor-element.elementor-element-1c641fb > .elementor-container {
	max-width: 800px;
}

.elementor-81 .elementor-element.elementor-element-1c641fb:not(.elementor-motion-effects-element-type-background), .elementor-81 .elementor-element.elementor-element-1c641fb > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-1c641fb {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 100px 0px 100px 0px;
}

.elementor-81 .elementor-element.elementor-element-1c641fb > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-81 .elementor-element.elementor-element-a21e751 {
	text-align: center;
}

.elementor-81 .elementor-element.elementor-element-f2e6bef {
	text-align: center;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-group {
	padding-right: calc(10px / 2);
	padding-left: calc(10px / 2);
	margin-bottom: 10px;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-form-fields-wrapper {
	margin-left: calc(-10px / 2);
	margin-right: calc(-10px / 2);
	margin-bottom: -10px;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-group.recaptcha_v3-bottomleft, .elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-group.recaptcha_v3-bottomright {
	margin-bottom: 0;
}

body.rtl .elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-labels-inline .elementor-field-group > label {
	padding-left: 0px;
}

body:not(.rtl) .elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-labels-inline .elementor-field-group > label {
	padding-right: 0px;
}

body .elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-labels-above .elementor-field-group > label {
	padding-bottom: 0px;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-type-html {
	padding-bottom: 0px;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-group .elementor-field {
	color: var(--e-global-color-text);
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-group .elementor-field, .elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-subgroup label {
	font-size: 16px;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
	background-color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-field-group .elementor-select-wrapper select {
	background-color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .e-form__buttons__wrapper__button-next {
	background-color: var(--e-global-color-primary);
	color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-button[type="submit"] {
	background-color: var(--e-global-color-primary);
	color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-button[type="submit"] svg * {
	fill: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .e-form__buttons__wrapper__button-previous {
	color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .e-form__buttons__wrapper__button-next:hover {
	background-color: var(--e-global-color-secondary);
	color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-button[type="submit"]:hover {
	background-color: var(--e-global-color-secondary);
	color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-button[type="submit"]:hover svg * {
	fill: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .e-form__buttons__wrapper__button-previous:hover {
	color: #fff;
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-message.elementor-message-success {
	color: var(--e-global-color-accent);
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-message.elementor-message-danger {
	color: var(--e-global-color-primary);
}

.elementor-81 .elementor-element.elementor-element-2d14e4f .elementor-message.elementor-help-inline {
	color: var(--e-global-color-primary);
}

.elementor-81 .elementor-element.elementor-element-2d14e4f {
	--e-form-steps-indicators-spacing: 20px;
	--e-form-steps-indicator-padding: 30px;
	--e-form-steps-indicator-inactive-secondary-color: #fff;
	--e-form-steps-indicator-active-secondary-color: #fff;
	--e-form-steps-indicator-completed-secondary-color: #fff;
	--e-form-steps-divider-width: 1px;
	--e-form-steps-divider-gap: 10px;
}

.elementor-81 .elementor-element.elementor-element-8afc984 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	align-content: flex-end;
	align-items: flex-end;
}

.elementor-81 .elementor-element.elementor-element-8afc984:not(.elementor-motion-effects-element-type-background), .elementor-81 .elementor-element.elementor-element-8afc984 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-81 .elementor-element.elementor-element-8afc984 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 80px 0px 80px 0px;
}

.elementor-81 .elementor-element.elementor-element-8afc984 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-81 .elementor-element.elementor-element-5c1f0ae .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-5c1f0ae > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-c7da372.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-81 .elementor-element.elementor-element-c7da372.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-81 .elementor-element.elementor-element-cf760f4 .elementor-button {
	fill: var(--e-global-color-04b92b5);
	color: var(--e-global-color-04b92b5);
	background-color: var(--e-global-color-accent);
}

.elementor-81 .elementor-element.elementor-element-cf760f4 .elementor-button:hover, .elementor-81 .elementor-element.elementor-element-cf760f4 .elementor-button:focus {
	color: var(--e-global-color-04b92b5);
	background-color: var(--e-global-color-secondary);
}

.elementor-81 .elementor-element.elementor-element-cf760f4 .elementor-button:hover svg, .elementor-81 .elementor-element.elementor-element-cf760f4 .elementor-button:focus svg {
	fill: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-cf760f4 > .elementor-widget-container {
	padding: 0% 0% 0% 0%;
}

.elementor-81 .elementor-element.elementor-element-a007bf1 iframe {
	height: 600px;
}

.elementor-81 .elementor-element.elementor-element-1352fb6:not(.elementor-motion-effects-element-type-background), .elementor-81 .elementor-element.elementor-element-1352fb6 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-1352fb6 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 100px 0px 100px 0px;
}

.elementor-81 .elementor-element.elementor-element-1352fb6 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-81 .elementor-element.elementor-element-1cb8381 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 5% 10% 5% 5%;
}

.elementor-81 .elementor-element.elementor-element-52def0a {
	text-align: left;
}

.elementor-81 .elementor-element.elementor-element-52def0a img {
	width: 208px;
}

.elementor-81 .elementor-element.elementor-element-9807c61 > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-81 .elementor-element.elementor-element-c616536 {
	--grid-template-columns: repeat(0, auto);
	--icon-size: 15px;
	--grid-column-gap: 5px;
	--grid-row-gap: 0px;
}

.elementor-81 .elementor-element.elementor-element-c616536 .elementor-widget-container {
	text-align: left;
}

.elementor-81 .elementor-element.elementor-element-c616536 .elementor-social-icon {
	background-color: var(--e-global-color-primary);
}

.elementor-81 .elementor-element.elementor-element-c616536 .elementor-social-icon i {
	color: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-c616536 .elementor-social-icon svg {
	fill: var(--e-global-color-04b92b5);
}

.elementor-81 .elementor-element.elementor-element-c616536 .elementor-social-icon:hover {
	background-color: var(--e-global-color-accent);
}

.elementor-81 .elementor-element.elementor-element-fee7868 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 5% 10% 5% 5%;
}

.elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(5px / 2);
	margin-left: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-5px / 2);
	margin-left: calc(-5px / 2);
}

body.rtl .elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-5px / 2);
}

body:not(.rtl) .elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-5px / 2);
}

.elementor-81 .elementor-element.elementor-element-b73c17d {
	--e-icon-list-icon-size: 14px;
	--e-icon-list-icon-align: center;
	--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * .125);
}

.elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-text {
	color: var(--e-global-color-primary);
	padding-left: 0px;
}

.elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-accent);
}

.elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-item > .elementor-icon-list-text, .elementor-81 .elementor-element.elementor-element-b73c17d .elementor-icon-list-item > a {
	font-size: .9em;
	font-weight: normal;
}

.elementor-81 .elementor-element.elementor-element-6ebbeee > .elementor-element-populated > .elementor-widget-wrap {
	padding: 5% 10% 5% 5%;
}

.elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(5px / 2);
	margin-left: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-5px / 2);
	margin-left: calc(-5px / 2);
}

body.rtl .elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-5px / 2);
}

body:not(.rtl) .elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-5px / 2);
}

.elementor-81 .elementor-element.elementor-element-5e85c50 {
	--e-icon-list-icon-size: 14px;
	--e-icon-list-icon-align: center;
	--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * .125);
}

.elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-text {
	color: var(--e-global-color-primary);
	padding-left: 0px;
}

.elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-accent);
}

.elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-81 .elementor-element.elementor-element-5e85c50 .elementor-icon-list-item > a {
	font-size: .9em;
	font-weight: normal;
}

.elementor-81 .elementor-element.elementor-element-55a6cd0 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 5% 10% 5% 5%;
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(5px / 2);
	margin-left: calc(5px / 2);
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-5px / 2);
	margin-left: calc(-5px / 2);
}

body.rtl .elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-5px / 2);
}

body:not(.rtl) .elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-5px / 2);
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 {
	--e-icon-list-icon-size: 14px;
	--e-icon-list-icon-align: center;
	--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * .125);
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-text {
	color: var(--e-global-color-primary);
	padding-left: 0px;
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-accent);
}

.elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-81 .elementor-element.elementor-element-ee12ad8 .elementor-icon-list-item > a {
	font-size: .9em;
	font-weight: normal;
}

.elementor-81 .elementor-element.elementor-element-7af2eb5:not(.elementor-motion-effects-element-type-background), .elementor-81 .elementor-element.elementor-element-7af2eb5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-f23f308);
}

.elementor-81 .elementor-element.elementor-element-7af2eb5 {
	border-style: solid;
	border-width: 1px 0px 0px 0px;
	border-color: rgba(255, 255, 255, .2);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 0px 0px 100px 0px;
}

.elementor-81 .elementor-element.elementor-element-7af2eb5 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-22756e6d.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-81 .elementor-element.elementor-element-22756e6d.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

@media (max-width:1199px) {
	.elementor-81 .elementor-element.elementor-element-8afc984 {
		padding: 50px 20px 50px 20px;
	}
	
	.elementor-bc-flex-widget .elementor-81 .elementor-element.elementor-element-09d81d6.elementor-column .elementor-column-wrap {
		align-items: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-09d81d6.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
		align-content: center;
		align-items: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-09d81d6 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 20px 20px 20px 20px;
	}
	
	.elementor-81 .elementor-element.elementor-element-5c1f0ae .elementor-heading-title {
		font-size: 2.3em;
		line-height: 1.1em;
	}
	
	.elementor-81 .elementor-element.elementor-element-5c1f0ae > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-1352fb6 {
		padding: 40px 40px 40px 40px;
	}
	
	.elementor-81 .elementor-element.elementor-element-1cb8381 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 40px 40px 40px 40px;
	}
	
	.elementor-81 .elementor-element.elementor-element-52def0a {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-4324dd4 {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-9807c61 {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-c616536 .elementor-widget-container {
		text-align: center;
	}
}

@media (max-width:799px) {
	.elementor-81 .elementor-element.elementor-element-1c641fb {
		padding: 50px 20px 50px 20px;
	}
	
	.elementor-81 .elementor-element.elementor-element-8afc984 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 30px 30px 30px 30px;
	}
	
	.elementor-81 .elementor-element.elementor-element-5c1f0ae {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-5c1f0ae .elementor-heading-title {
		font-size: 31px;
	}
	
	.elementor-81 .elementor-element.elementor-element-cf760f4 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-a007bf1 iframe {
		height: 400px;
	}
	
	.elementor-81 .elementor-element.elementor-element-1352fb6 {
		padding: 70px 20px 70px 20px;
	}
	
	.elementor-81 .elementor-element.elementor-element-1cb8381 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-9807c61 {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-c616536 .elementor-widget-container {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-fee7868 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-b6a7621 {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-b6a7621 > .elementor-widget-container {
		margin: 40px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-b73c17d {
		--e-icon-list-icon-align: right;
		--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * .25);
	}
	
	.elementor-81 .elementor-element.elementor-element-6ebbeee > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-b0f896f {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-b0f896f > .elementor-widget-container {
		margin: 40px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-5e85c50 {
		--e-icon-list-icon-align: right;
		--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * .25);
	}
	
	.elementor-81 .elementor-element.elementor-element-55a6cd0 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-7edf529 {
		text-align: center;
	}
	
	.elementor-81 .elementor-element.elementor-element-7edf529 > .elementor-widget-container {
		padding: 40px 0px 0px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-ee12ad8 {
		--e-icon-list-icon-align: right;
		--e-icon-list-icon-margin: 0 0 0 calc(var(--e-icon-list-icon-size, 1em) * .25);
	}
	
	.elementor-81 .elementor-element.elementor-element-7af2eb5 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 100px 0px;
	}
	
	.elementor-81 .elementor-element.elementor-element-22756e6d > .elementor-element-populated > .elementor-widget-wrap {
		padding: 15px 0px 15px 0px;
	}
}

@media (min-width:800px) {
	.elementor-81 .elementor-element.elementor-element-09d81d6 {
		width: 85.231%;
	}
	
	.elementor-81 .elementor-element.elementor-element-c7da372 {
		width: 14.769%;
	}
	
	.elementor-81 .elementor-element.elementor-element-1cb8381 {
		width: 32.385%;
	}
	
	.elementor-81 .elementor-element.elementor-element-fee7868 {
		width: 17.577%;
	}
	
	.elementor-81 .elementor-element.elementor-element-6ebbeee {
		width: 16.846%;
	}
	
	.elementor-81 .elementor-element.elementor-element-55a6cd0 {
		width: 33.154%;
	}
}

@media (max-width:1199px) and (min-width:800px) {
	.elementor-81 .elementor-element.elementor-element-09d81d6 {
		width: 70%;
	}
	
	.elementor-81 .elementor-element.elementor-element-c7da372 {
		width: 30%;
	}
	
	.elementor-81 .elementor-element.elementor-element-1cb8381 {
		width: 100%;
	}
	
	.elementor-81 .elementor-element.elementor-element-fee7868 {
		width: 33.33%;
	}
	
	.elementor-81 .elementor-element.elementor-element-6ebbeee {
		width: 33.33%;
	}
	
	.elementor-81 .elementor-element.elementor-element-55a6cd0 {
		width: 33.33%;
	}
}
