
.elementor-505 .elementor-element.elementor-element-b3a64a2.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-505 .elementor-element.elementor-element-8c1ecd9 {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-accent);
}

.elementor-505 .elementor-element.elementor-element-8c1ecd9 .elementor-headline {
	text-align: center;
}

.elementor-505 .elementor-element.elementor-element-8c1ecd9 .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-secondary);
	stroke-width: 7px;
}

.elementor-505 .elementor-element.elementor-element-8c1ecd9 .elementor-headline-plain-text {
	color: var(--e-global-color-text);
}

.elementor-505 .elementor-element.elementor-element-6b433b6 {
	text-align: center;
}

.elementor-505 .elementor-element.elementor-element-47900e3 {
	text-align: center;
}

.elementor-505 .elementor-element.elementor-element-1bf9790 > .elementor-container {
	max-width: 663px;
}

.elementor-505 .elementor-element.elementor-element-884ef0d.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-505 .elementor-element.elementor-element-884ef0d > .elementor-element-populated {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-505 .elementor-element.elementor-element-884ef0d > .elementor-element-populated, .elementor-505 .elementor-element.elementor-element-884ef0d > .elementor-element-populated > .elementor-background-overlay, .elementor-505 .elementor-element.elementor-element-884ef0d > .elementor-background-slideshow {
	border-radius: 25px 25px 25px 25px;
}

.elementor-505 .elementor-element.elementor-element-884ef0d:hover > .elementor-element-populated {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #58d268;
}

.elementor-505 .elementor-element.elementor-element-884ef0d > .elementor-element-populated > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-505 .elementor-element.elementor-element-466ee02 {
	text-align: center;
}

.elementor-505 .elementor-element.elementor-element-0c7cdb3.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-505 .elementor-element.elementor-element-0c7cdb3 > .elementor-element-populated {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-secondary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-505 .elementor-element.elementor-element-0c7cdb3 > .elementor-element-populated, .elementor-505 .elementor-element.elementor-element-0c7cdb3 > .elementor-element-populated > .elementor-background-overlay, .elementor-505 .elementor-element.elementor-element-0c7cdb3 > .elementor-background-slideshow {
	border-radius: 25px 25px 25px 25px;
}

.elementor-505 .elementor-element.elementor-element-0c7cdb3:hover > .elementor-element-populated {
	border-style: solid;
	border-width: 3px 3px 3px 3px;
	border-color: #48abf0;
}

.elementor-505 .elementor-element.elementor-element-0c7cdb3 > .elementor-element-populated > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-505 .elementor-element.elementor-element-e120246 img {
	width: 470px;
	border-radius: 25px 25px 25px 25px;
}

.elementor-505 .elementor-element.elementor-element-e120246 > .elementor-widget-container {
	margin: 0px 10px 30px 0px;
	padding: 1px 1px 1px 1px;
	background-color: var(--e-global-color-04b92b5);
	border-radius: 25px 25px 25px 25px;
}

.elementor-505 .elementor-element.elementor-element-e120246 {
	width: auto;
	max-width: auto;
}

.elementor-505 .elementor-element.elementor-element-45c1b5d {
	text-align: center;
}

.elementor-505 .elementor-element.elementor-element-426b3d2:not(.elementor-motion-effects-element-type-background), .elementor-505 .elementor-element.elementor-element-426b3d2 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-accent);
}

.elementor-505 .elementor-element.elementor-element-426b3d2, .elementor-505 .elementor-element.elementor-element-426b3d2 > .elementor-background-overlay {
	border-radius: 555px 555px 555px 555px;
}

.elementor-505 .elementor-element.elementor-element-426b3d2 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 50px 20px 50px 20px;
}

.elementor-505 .elementor-element.elementor-element-426b3d2 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-505 .elementor-element.elementor-element-874e12b {
	text-align: center;
}

.elementor-505 .elementor-element.elementor-element-874e12b .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-505 .elementor-element.elementor-element-dd19b63 {
	margin-top: 100px;
	margin-bottom: 100px;
	padding: 50px 0px 50px 0px;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-e23eda7.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-e23eda7.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-e23eda7 .elementor-element-populated a:hover {
	color: var(--e-global-color-secondary);
}

.elementor-505 .elementor-element.elementor-element-89f32ad {
	text-align: left;
}

.elementor-505 .elementor-element.elementor-element-89f32ad img {
	width: 32%;
}

.elementor-505 .elementor-element.elementor-element-1c081d6 > .elementor-widget-container {
	margin: 0px 0px -20px 0px;
}

.elementor-505 .elementor-element.elementor-element-758f728 .elementor-heading-title {
	text-decoration: underline;
}

.elementor-505 .elementor-element.elementor-element-d901d1a {
	text-align: right;
}

.elementor-505 .elementor-element.elementor-element-d901d1a img {
	width: 80%;
	border-style: solid;
	border-width: 20px 20px 0px 10px;
	border-color: var(--e-global-color-primary);
	border-radius: 50% 50% 50% 50%;
}

.elementor-505 .elementor-element.elementor-element-4b9e862:not(.elementor-motion-effects-element-type-background), .elementor-505 .elementor-element.elementor-element-4b9e862 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-505 .elementor-element.elementor-element-4b9e862, .elementor-505 .elementor-element.elementor-element-4b9e862 > .elementor-background-overlay {
	border-radius: 25px 25px 25px 25px;
}

.elementor-505 .elementor-element.elementor-element-4b9e862 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.elementor-505 .elementor-element.elementor-element-4b9e862 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-44a0627.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-44a0627.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-fb1cc8b img {
	width: 70%;
}

.elementor-505 .elementor-element.elementor-element-6698fde img {
	width: 89%;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-8e710d9.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-8e710d9.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-0ef16dc.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-0ef16dc.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-b8bc6d4 img {
	width: 61%;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-c70e9ae.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-c70e9ae.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-3f51f7b.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-3f51f7b.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-95197aa img {
	width: 70%;
}

.elementor-505 .elementor-element.elementor-element-72ec848 img {
	width: 100%;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-007c5ff.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-007c5ff.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-7287fe7.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-7287fe7.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-6e68ccf.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-505 .elementor-element.elementor-element-6e68ccf.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

@media (max-width:1199px) and (min-width:800px) {
	.elementor-505 .elementor-element.elementor-element-e23eda7 {
		width: 70%;
	}
	
	.elementor-505 .elementor-element.elementor-element-ca26463 {
		width: 30%;
	}
}

@media (max-width:1199px) {
	.elementor-505 .elementor-element.elementor-element-426b3d2 {
		margin-top: 50px;
		margin-bottom: 50px;
		padding: 40px 20px 40px 20px;
	}
	
	.elementor-505 .elementor-element.elementor-element-dd19b63 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-ca26463.elementor-column .elementor-column-wrap {
		align-items: center;
	}
	
	.elementor-505 .elementor-element.elementor-element-ca26463.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
		align-content: center;
		align-items: center;
	}
	
	.elementor-505 .elementor-element.elementor-element-d901d1a img {
		width: 90%;
	}
	
	.elementor-bc-flex-widget .elementor-505 .elementor-element.elementor-element-44a0627.elementor-column .elementor-column-wrap {
		align-items: center;
	}
	
	.elementor-505 .elementor-element.elementor-element-44a0627.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
		align-content: center;
		align-items: center;
	}
	
	.elementor-505 .elementor-element.elementor-element-b0dbf83 img {
		width: 89%;
	}
}

@media (max-width:799px) {
	.elementor-505 .elementor-element.elementor-element-8c1ecd9 .elementor-headline {
		text-align: left;
		font-size: 34px;
	}
	
	.elementor-505 .elementor-element.elementor-element-6b433b6 {
		text-align: left;
	}
	
	.elementor-505 .elementor-element.elementor-element-47900e3 > .elementor-widget-container {
		margin: 40px 0px 0px 0px;
	}
	
	.elementor-505 .elementor-element.elementor-element-426b3d2 {
		margin-top: 40px;
		margin-bottom: 40px;
		padding: 20px 20px 20px 20px;
	}
	
	.elementor-505 .elementor-element.elementor-element-874e12b .elementor-heading-title {
		font-size: 20px;
	}
	
	.elementor-505 .elementor-element.elementor-element-dd19b63 {
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-505 .elementor-element.elementor-element-89f32ad img {
		width: 42%;
	}
	
	.elementor-505 .elementor-element.elementor-element-7bcc068 .elementor-heading-title {
		font-size: 35px;
	}
	
	.elementor-505 .elementor-element.elementor-element-d901d1a {
		text-align: left;
	}
	
	.elementor-505 .elementor-element.elementor-element-d901d1a img {
		width: 70%;
	}
	
	.elementor-505 .elementor-element.elementor-element-4b9e862 {
		margin-top: 40px;
		margin-bottom: 0px;
	}
	
	.elementor-505 .elementor-element.elementor-element-b0dbf83 img {
		width: 80%;
	}
	
	.elementor-505 .elementor-element.elementor-element-b8bc6d4 img {
		width: 67%;
	}
	
	.elementor-505 .elementor-element.elementor-element-95197aa img {
		width: 71%;
	}
	
	.elementor-505 .elementor-element.elementor-element-a56f8d1 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-505 .elementor-element.elementor-element-b8fe6b6 img {
		width: 89%;
	}
}
