
.elementor-339 .elementor-element.elementor-element-67a3825 > .elementor-container > .elementor-row > .elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-339 .elementor-element.elementor-element-67a3825:not(.elementor-motion-effects-element-type-background), .elementor-339 .elementor-element.elementor-element-67a3825 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-339 .elementor-element.elementor-element-67a3825 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.elementor-339 .elementor-element.elementor-element-67a3825 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-339 .elementor-element.elementor-element-e954959.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-339 .elementor-element.elementor-element-e954959 > .elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.elementor-339 .elementor-element.elementor-element-e954959 > .elementor-element-populated > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(27px / 2);
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(27px / 2);
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(27px / 2);
	margin-left: calc(27px / 2);
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-27px / 2);
	margin-left: calc(-27px / 2);
}

body.rtl .elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-27px / 2);
}

body:not(.rtl) .elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-27px / 2);
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-icon i {
	color: #fff;
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-icon svg {
	fill: #fff;
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 {
	--e-icon-list-icon-size: 17px;
	--e-icon-list-icon-align: left;
	--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * .25) 0 0;
	width: auto;
	max-width: auto;
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-text {
	color: #fff;
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-accent);
}

.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-item > a {
	font-size: 18px;
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
	padding-bottom: calc(27px / 2);
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
	margin-top: calc(27px / 2);
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
	margin-right: calc(27px / 2);
	margin-left: calc(27px / 2);
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items {
	margin-right: calc(-27px / 2);
	margin-left: calc(-27px / 2);
}

body.rtl .elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	left: calc(-27px / 2);
}

body:not(.rtl) .elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
	right: calc(-27px / 2);
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-icon i {
	color: #fff;
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-icon svg {
	fill: #fff;
}

.elementor-339 .elementor-element.elementor-element-13689cb {
	--e-icon-list-icon-size: 17px;
	--e-icon-list-icon-align: left;
	--e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * .25) 0 0;
	width: auto;
	max-width: auto;
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-text {
	color: #fff;
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-item:hover .elementor-icon-list-text {
	color: var(--e-global-color-accent);
}

.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-item > .elementor-icon-list-text, .elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-item > a {
	font-size: 18px;
}

.elementor-339 .elementor-element.elementor-element-6b364d3 .elementor-button {
	fill: #fff;
	color: #fff;
	background-color: rgba(2, 1, 1, 0);
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-04b92b5);
}

.elementor-339 .elementor-element.elementor-element-6b364d3 .elementor-button:hover, .elementor-339 .elementor-element.elementor-element-6b364d3 .elementor-button:focus {
	color: #fff;
	background-color: var(--e-global-color-accent);
}

.elementor-339 .elementor-element.elementor-element-6b364d3 .elementor-button:hover svg, .elementor-339 .elementor-element.elementor-element-6b364d3 .elementor-button:focus svg {
	fill: #fff;
}

.elementor-339 .elementor-element.elementor-element-6b364d3 > .elementor-widget-container {
	margin: 0px 0px 0px 20px;
}

.elementor-339 .elementor-element.elementor-element-6b364d3 {
	width: auto;
	max-width: auto;
}

.elementor-339 .elementor-element.elementor-element-d732dd4 .elementor-button {
	background-color: #39b54a;
}

.elementor-339 .elementor-element.elementor-element-d732dd4 .elementor-button:hover, .elementor-339 .elementor-element.elementor-element-d732dd4 .elementor-button:focus {
	background-color: var(--e-global-color-secondary);
}

.elementor-339 .elementor-element.elementor-element-d732dd4 > .elementor-widget-container {
	margin: 0px 0px 0px 20px;
}

.elementor-339 .elementor-element.elementor-element-d732dd4 {
	width: auto;
	max-width: auto;
}

.elementor-339 .elementor-element.elementor-element-3005fb8 .elementor-button {
	fill: #fff;
	color: #fff;
	background-color: rgba(2, 1, 1, 0);
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-04b92b5);
}

.elementor-339 .elementor-element.elementor-element-3005fb8 .elementor-button:hover, .elementor-339 .elementor-element.elementor-element-3005fb8 .elementor-button:focus {
	color: #fff;
	background-color: var(--e-global-color-accent);
}

.elementor-339 .elementor-element.elementor-element-3005fb8 .elementor-button:hover svg, .elementor-339 .elementor-element.elementor-element-3005fb8 .elementor-button:focus svg {
	fill: #fff;
}

.elementor-339 .elementor-element.elementor-element-3005fb8 > .elementor-widget-container {
	margin: 0px 0px 0px 20px;
}

.elementor-339 .elementor-element.elementor-element-3005fb8 {
	width: auto;
	max-width: auto;
}

#elementor-popup-modal-339 .dialog-message {
	width: 100vw;
	height: auto;
}

#elementor-popup-modal-339 {
	justify-content: center;
	align-items: flex-end;
}

#elementor-popup-modal-339 .dialog-widget-content {
	animation-duration: 1.2s;
	box-shadow: 2px 8px 23px 3px rgba(0, 0, 0, .2);
}

@media (max-width:799px) {
	.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(11px / 2);
		margin-left: calc(11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-11px / 2);
		margin-left: calc(-11px / 2);
	}
	
	body.rtl .elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-11px / 2);
	}
	
	body:not(.rtl) .elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-19ee0b2 {
		--e-icon-list-icon-size: 12px;
	}
	
	.elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-item > .elementor-icon-list-text, .elementor-339 .elementor-element.elementor-element-19ee0b2 .elementor-icon-list-item > a {
		font-size: 16px;
	}
	
	.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
		padding-bottom: calc(11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
		margin-top: calc(11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
		margin-right: calc(11px / 2);
		margin-left: calc(11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items {
		margin-right: calc(-11px / 2);
		margin-left: calc(-11px / 2);
	}
	
	body.rtl .elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		left: calc(-11px / 2);
	}
	
	body:not(.rtl) .elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
		right: calc(-11px / 2);
	}
	
	.elementor-339 .elementor-element.elementor-element-13689cb {
		--e-icon-list-icon-size: 12px;
	}
	
	.elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-item > .elementor-icon-list-text, .elementor-339 .elementor-element.elementor-element-13689cb .elementor-icon-list-item > a {
		font-size: 16px;
	}
	
	.elementor-339 .elementor-element.elementor-element-d732dd4 .elementor-button {
		font-size: 13px;
		padding: 5px 15px 5px 15px;
	}
	
	.elementor-339 .elementor-element.elementor-element-d732dd4 > .elementor-widget-container {
		margin: 10px 0px 0px 0px;
	}
	
	#elementor-popup-modal-339 .dialog-message {
		width: 100vw;
	}
}
