
.elementor-551 .elementor-element.elementor-element-1939a02:not(.elementor-motion-effects-element-type-background), .elementor-551 .elementor-element.elementor-element-1939a02 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-551 .elementor-element.elementor-element-1939a02 > .elementor-background-overlay {
	opacity: .06;
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-551 .elementor-element.elementor-element-1939a02 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 50px 0px 50px 0px;
}

.elementor-551 .elementor-element.elementor-element-7b91333.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-551 .elementor-element.elementor-element-3bf18cb {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-3bf18cb .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-551 .elementor-element.elementor-element-c165da5 .elementor-button {
	background-color: var(--e-global-color-accent);
}

.elementor-551 .elementor-element.elementor-element-c165da5 .elementor-button:hover, .elementor-551 .elementor-element.elementor-element-c165da5 .elementor-button:focus {
	background-color: var(--e-global-color-secondary);
}

.elementor-551 .elementor-element.elementor-element-c165da5 {
	width: auto;
	max-width: auto;
}

.elementor-551 .elementor-element.elementor-element-a75ca84 .elementor-button {
	background-color: var(--e-global-color-secondary);
}

.elementor-551 .elementor-element.elementor-element-a75ca84 .elementor-button:hover, .elementor-551 .elementor-element.elementor-element-a75ca84 .elementor-button:focus {
	background-color: var(--e-global-color-accent);
}

.elementor-551 .elementor-element.elementor-element-a75ca84 > .elementor-widget-container {
	margin: 0px 0px 0px 20px;
}

.elementor-551 .elementor-element.elementor-element-a75ca84 {
	width: auto;
	max-width: auto;
}

.elementor-551 .elementor-element.elementor-element-ba8e0de {
	padding: 50px 0px 50px 0px;
}

.elementor-551 .elementor-element.elementor-element-a3c1156 {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-f851001 {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-f851001 .elementor-headline {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-f851001 .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
	stroke-width: 5px;
}

.elementor-551 .elementor-element.elementor-element-f851001 .elementor-headline-plain-text {
	color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-f851001 .elementor-headline-dynamic-text {
	line-height: 1.1em;
}

.elementor-551 .elementor-element.elementor-element-d015166 {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-d015166 .elementor-headline {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-d015166 .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
	stroke-width: 5px;
}

.elementor-551 .elementor-element.elementor-element-d015166 .elementor-headline-plain-text {
	color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-d015166 .elementor-headline-dynamic-text {
	line-height: 1.1em;
}

.elementor-551 .elementor-element.elementor-element-ef2cf44 {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-ef2cf44 .elementor-headline {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-ef2cf44 .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
	stroke-width: 5px;
}

.elementor-551 .elementor-element.elementor-element-ef2cf44 .elementor-headline-plain-text {
	color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-ef2cf44 .elementor-headline-dynamic-text {
	line-height: 1.1em;
}

.elementor-551 .elementor-element.elementor-element-a06ec37 {
	margin-top: 50px;
	margin-bottom: 0px;
}

.elementor-551 .elementor-element.elementor-element-e0919f8 {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-e0919f8 .elementor-headline {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-e0919f8 .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
	stroke-width: 5px;
}

.elementor-551 .elementor-element.elementor-element-e0919f8 .elementor-headline-plain-text {
	color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-e0919f8 .elementor-headline-dynamic-text {
	line-height: 1.1em;
}

.elementor-551 .elementor-element.elementor-element-531cd67 {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-531cd67 .elementor-headline {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-531cd67 .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
	stroke-width: 5px;
}

.elementor-551 .elementor-element.elementor-element-531cd67 .elementor-headline-plain-text {
	color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-531cd67 .elementor-headline-dynamic-text {
	line-height: 1.1em;
}

.elementor-551 .elementor-element.elementor-element-81b248a {
	--iteration-count: infinite;
	--animation-duration: 1200ms;
	--dynamic-text-color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-81b248a .elementor-headline {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-81b248a .elementor-headline-dynamic-wrapper path {
	stroke: var(--e-global-color-accent);
	stroke-width: 5px;
}

.elementor-551 .elementor-element.elementor-element-81b248a .elementor-headline-plain-text {
	color: var(--e-global-color-text);
}

.elementor-551 .elementor-element.elementor-element-81b248a .elementor-headline-dynamic-text {
	line-height: 1.1em;
}

.elementor-551 .elementor-element.elementor-element-64de64c {
	text-align: center;
}

.elementor-551 .elementor-element.elementor-element-64de64c > .elementor-widget-container {
	margin: 80px 0px 0px 0px;
}

.elementor-551 .elementor-element.elementor-element-13aa2d5 {
	--divider-border-style: solid;
	--divider-color: var(--e-global-color-text);
	--divider-border-width: 1px;
}

.elementor-551 .elementor-element.elementor-element-13aa2d5 .elementor-divider-separator {
	width: 100%;
}

.elementor-551 .elementor-element.elementor-element-13aa2d5 .elementor-divider {
	padding-top: 50px;
	padding-bottom: 50px;
}

.elementor-551 .elementor-element.elementor-element-1a21a13 > .elementor-widget-container {
	margin: 5px 0px 0px 0px;
}

.elementor-551 .elementor-element.elementor-element-dba9b4b > .elementor-widget-container {
	margin: 50px 0px 0px 0px;
}

.elementor-551 .elementor-element.elementor-element-597b53d .elementor-heading-title {
	color: var(--e-global-color-secondary);
	text-decoration: underline;
}

.elementor-551 .elementor-element.elementor-element-30dcf85 {
	line-height: 2.4em;
}

@media (max-width:1199px) {
	.elementor-551 .elementor-element.elementor-element-1939a02 {
		padding: 50px 30px 50px 30px;
	}
	
	.elementor-551 .elementor-element.elementor-element-ba8e0de {
		padding: 60px 30px 30px 30px;
	}
}

@media (max-width:799px) {
	.elementor-551 .elementor-element.elementor-element-1939a02 {
		padding: 50px 30px 50px 30px;
	}
	
	.elementor-551 .elementor-element.elementor-element-c165da5 > .elementor-widget-container {
		margin: 0px 10px 10px 10px;
	}
	
	.elementor-551 .elementor-element.elementor-element-a75ca84 > .elementor-widget-container {
		margin: 0px 20px 0px 20px;
	}
	
	.elementor-551 .elementor-element.elementor-element-ba8e0de {
		padding: 50px 30px 30px 30px;
	}
	
	.elementor-551 .elementor-element.elementor-element-a06ec37 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	.elementor-551 .elementor-element.elementor-element-64de64c > .elementor-widget-container {
		margin: 40px 0px 0px 0px;
	}
	
	.elementor-551 .elementor-element.elementor-element-1a21a13 > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
	
	.elementor-551 .elementor-element.elementor-element-dba9b4b > .elementor-widget-container {
		margin: 30px 0px 0px 0px;
	}
}
