
.elementor-507 .elementor-element.elementor-element-e987965:not(.elementor-motion-effects-element-type-background), .elementor-507 .elementor-element.elementor-element-e987965 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-primary);
}

.elementor-507 .elementor-element.elementor-element-e987965 > .elementor-background-overlay {
	opacity: .06;
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-507 .elementor-element.elementor-element-e987965 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	padding: 50px 0px 50px 0px;
}

.elementor-507 .elementor-element.elementor-element-5464e1b {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-5464e1b .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-813910f {
	padding: 80px 0px 80px 0px;
}

.elementor-507 .elementor-element.elementor-element-42f4b44 > .elementor-container {
	max-width: 632px;
}

.elementor-507 .elementor-element.elementor-element-42f4b44 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.elementor-507 .elementor-element.elementor-element-38ee8a9 > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-400a724 img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-400a724 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-ae75839 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-ae75839 .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-ae75839 > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-a5893ac {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-a5893ac > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-aed875a > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-7189c5b img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-2e12b38 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-2e12b38 .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-2e12b38 > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-8d1bde3 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-8d1bde3 > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-01d3b0d > .elementor-container {
	max-width: 963px;
}

.elementor-507 .elementor-element.elementor-element-01d3b0d {
	margin-top: 0px;
	margin-bottom: 50px;
}

.elementor-507 .elementor-element.elementor-element-7a5c4d3 > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-e5a8913 img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-e5a8913 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-8da0bcc {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-8da0bcc .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-8da0bcc > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-078cace {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-078cace > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-cca1088 > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-1d3483a img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-6626176 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-6626176 .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-6626176 > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-a6ce89b {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-a6ce89b > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-a3ae4a1 > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-a1f7f21 img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-6698fcc {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-6698fcc .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-6698fcc > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-07d65f8 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-07d65f8 > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-f2c4099 > .elementor-container {
	max-width: 1443px;
}

.elementor-507 .elementor-element.elementor-element-f2c4099 {
	margin-top: 0px;
	margin-bottom: 50px;
}

.elementor-507 .elementor-element.elementor-element-7accd96 > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-5da7cba img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-5da7cba > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-3301dc2 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-3301dc2 .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-3301dc2 > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-4b282e4 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-4b282e4 > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-fede410 > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-d06bdcc img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-a7d97d1 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-a7d97d1 .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-a7d97d1 > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-e0c6e12 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-e0c6e12 > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-b5438de > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-9918779 img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-416a7cd {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-416a7cd .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-416a7cd > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-6ea5536 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-6ea5536 > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

.elementor-507 .elementor-element.elementor-element-3216dc9 > .elementor-element-populated {
	margin: 15px 15px 15px 15px;
	--e-column-margin-right: 15px;
	--e-column-margin-left: 15px;
}

.elementor-507 .elementor-element.elementor-element-daf443f img {
	border-radius: 550px 550px 550px 550px;
}

.elementor-507 .elementor-element.elementor-element-cd82d64 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-cd82d64 .elementor-heading-title {
	color: var(--e-global-color-04b92b5);
}

.elementor-507 .elementor-element.elementor-element-cd82d64 > .elementor-widget-container {
	margin: -50px 0px 0px 0px;
	padding: 5px 5px 5px 5px;
	background-color: var(--e-global-color-primary);
	border-radius: 25px 25px 25px 25px;
}

.elementor-507 .elementor-element.elementor-element-b5ac9f4 {
	text-align: center;
}

.elementor-507 .elementor-element.elementor-element-b5ac9f4 > .elementor-widget-container {
	margin: -20px 0px 0px 0px;
}

@media (max-width:1199px) {
	.elementor-507 .elementor-element.elementor-element-e987965 {
		padding: 50px 30px 50px 30px;
	}
	
	.elementor-507 .elementor-element.elementor-element-813910f {
		padding: 80px 30px 80px 30px;
	}
}

@media (max-width:799px) {
	.elementor-507 .elementor-element.elementor-element-813910f {
		padding: 30px 30px 50px 30px;
	}
	
	.elementor-507 .elementor-element.elementor-element-8d08f1b > .elementor-element-populated > .elementor-widget-wrap {
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-507 .elementor-element.elementor-element-42f4b44 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-507 .elementor-element.elementor-element-01d3b0d {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}
	
	.elementor-507 .elementor-element.elementor-element-f2c4099 {
		margin-top: 0px;
		margin-bottom: 0px;
		padding: 0px 0px 0px 0px;
	}
}
