
.elementor-306 .elementor-element.elementor-element-da10ccc {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-273e0ee {
	--spacer-size: 10px;
}

.elementor-306 .elementor-element.elementor-element-70d6590.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-70d6590.elementor-view-framed .elementor-icon, .elementor-306 .elementor-element.elementor-element-70d6590.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-70d6590.elementor-view-stacked .elementor-icon:hover {
	background-color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-70d6590.elementor-view-framed .elementor-icon:hover, .elementor-306 .elementor-element.elementor-element-70d6590.elementor-view-default .elementor-icon:hover {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-70d6590 {
	--icon-box-icon-margin: 15px;
}

.elementor-306 .elementor-element.elementor-element-4d636a5.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-4d636a5.elementor-view-framed .elementor-icon, .elementor-306 .elementor-element.elementor-element-4d636a5.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-4d636a5.elementor-view-stacked .elementor-icon:hover {
	background-color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-4d636a5.elementor-view-framed .elementor-icon:hover, .elementor-306 .elementor-element.elementor-element-4d636a5.elementor-view-default .elementor-icon:hover {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-4d636a5 {
	--icon-box-icon-margin: 15px;
}

.elementor-306 .elementor-element.elementor-element-5f01f02.elementor-view-stacked .elementor-icon {
	background-color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-5f01f02.elementor-view-framed .elementor-icon, .elementor-306 .elementor-element.elementor-element-5f01f02.elementor-view-default .elementor-icon {
	fill: var(--e-global-color-accent);
	color: var(--e-global-color-accent);
	border-color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-5f01f02.elementor-view-stacked .elementor-icon:hover {
	background-color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-5f01f02.elementor-view-framed .elementor-icon:hover, .elementor-306 .elementor-element.elementor-element-5f01f02.elementor-view-default .elementor-icon:hover {
	fill: var(--e-global-color-primary);
	color: var(--e-global-color-primary);
	border-color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-5f01f02 {
	--icon-box-icon-margin: 15px;
}

.elementor-306 .elementor-element.elementor-element-12cafc8 {
	padding: 0px 20px 0px 20px;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-field-group {
	padding-right: calc(10px / 2);
	padding-left: calc(10px / 2);
	margin-bottom: 10px;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-form-fields-wrapper {
	margin-left: calc(-10px / 2);
	margin-right: calc(-10px / 2);
	margin-bottom: -10px;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-field-group.recaptcha_v3-bottomright {
	margin-bottom: 0;
}

body.rtl .elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-labels-inline .elementor-field-group > label {
	padding-left: 0px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-labels-inline .elementor-field-group > label {
	padding-right: 0px;
}

body .elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-labels-above .elementor-field-group > label {
	padding-bottom: 0px;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-field-type-html {
	padding-bottom: 0px;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
	background-color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-field-group .elementor-select-wrapper select {
	background-color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .e-form__buttons__wrapper__button-next {
	color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-button[type="submit"] {
	color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-button[type="submit"] svg * {
	fill: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .e-form__buttons__wrapper__button-previous {
	color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .e-form__buttons__wrapper__button-next:hover {
	color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-button[type="submit"]:hover {
	color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .elementor-button[type="submit"]:hover svg * {
	fill: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 .e-form__buttons__wrapper__button-previous:hover {
	color: #fff;
}

.elementor-306 .elementor-element.elementor-element-bae8d04 {
	--e-form-steps-indicators-spacing: 20px;
	--e-form-steps-indicator-padding: 30px;
	--e-form-steps-indicator-inactive-secondary-color: #fff;
	--e-form-steps-indicator-active-secondary-color: #fff;
	--e-form-steps-indicator-completed-secondary-color: #fff;
	--e-form-steps-divider-width: 1px;
	--e-form-steps-divider-gap: 10px;
}

.elementor-306 .elementor-element.elementor-element-13fb7079 {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-13fb7079 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-e015a6a > .elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin: 0px 0px 0px 0px;
	--e-column-margin-right: 0px;
	--e-column-margin-left: 0px;
}

.elementor-306 .elementor-element.elementor-element-e015a6a > .elementor-element-populated > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-e015a6a > .elementor-element-populated > .elementor-widget-wrap {
	padding: 11px 15px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-c82a1bc:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-c82a1bc > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-c82a1bc {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-c82a1bc, .elementor-306 .elementor-element.elementor-element-c82a1bc > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-c82a1bc > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-52e0e6df {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-52e0e6df .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-52e0e6df .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-52e0e6df .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-52e0e6df .elementor-star-rating i:before {
	color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-362e9cc7 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-362e9cc7 .elementor-testimonial-content {
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-362e9cc7 .elementor-testimonial-name {
	color: var(--e-global-color-accent);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-362e9cc7 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-362e9cc7 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-5e23eea0:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-5e23eea0 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-5e23eea0 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-primary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-5e23eea0, .elementor-306 .elementor-element.elementor-element-5e23eea0 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-5e23eea0 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-586b156a {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-586b156a .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-586b156a .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-586b156a .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-586b156a .elementor-star-rating i:before {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-32a7dc07 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-32a7dc07 .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-32a7dc07 .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-32a7dc07 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-32a7dc07 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-1082158:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-1082158 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-1082158 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-1082158, .elementor-306 .elementor-element.elementor-element-1082158 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-1082158 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-02cdfdb {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-02cdfdb .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-02cdfdb .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-02cdfdb .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-02cdfdb .elementor-star-rating i:before {
	color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-f048167 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-f048167 .elementor-testimonial-content {
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-f048167 .elementor-testimonial-name {
	color: var(--e-global-color-accent);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-f048167 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-f048167 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-4ee74bf5:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-4ee74bf5 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-4ee74bf5 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-primary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-4ee74bf5, .elementor-306 .elementor-element.elementor-element-4ee74bf5 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-4ee74bf5 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-32cb21d7 {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-32cb21d7 .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-32cb21d7 .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-32cb21d7 .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-32cb21d7 .elementor-star-rating i:before {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-6be4845 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-6be4845 .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-6be4845 .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-6be4845 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-6be4845 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-5674c3f7:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-5674c3f7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-5674c3f7 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-5674c3f7, .elementor-306 .elementor-element.elementor-element-5674c3f7 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-5674c3f7 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-41676aac {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-41676aac .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-41676aac .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-41676aac .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-41676aac .elementor-star-rating i:before {
	color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-6b5f6e3b .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-6b5f6e3b .elementor-testimonial-content {
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-6b5f6e3b .elementor-testimonial-name {
	color: var(--e-global-color-accent);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-6b5f6e3b .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-6b5f6e3b > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-52a17f1:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-52a17f1 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-52a17f1 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-primary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-52a17f1, .elementor-306 .elementor-element.elementor-element-52a17f1 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-52a17f1 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-893934f {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-893934f .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-893934f .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-893934f .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-893934f .elementor-star-rating i:before {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-1561787 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-1561787 .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-1561787 .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-1561787 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-1561787 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-5074ae3e:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-5074ae3e > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-5074ae3e {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-5074ae3e, .elementor-306 .elementor-element.elementor-element-5074ae3e > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-5074ae3e > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-1065c9a9 {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-1065c9a9 .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-1065c9a9 .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-1065c9a9 .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-1065c9a9 .elementor-star-rating i:before {
	color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-23c8382d .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-23c8382d .elementor-testimonial-content {
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-23c8382d .elementor-testimonial-name {
	color: var(--e-global-color-accent);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-23c8382d .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-23c8382d > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-10889ac4 > .elementor-element-populated {
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
}

.elementor-306 .elementor-element.elementor-element-10889ac4 > .elementor-element-populated > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-10889ac4 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 11px 25px 25px 15px;
}

.elementor-306 .elementor-element.elementor-element-4569a2cf:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-4569a2cf > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-4569a2cf {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-primary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-4569a2cf, .elementor-306 .elementor-element.elementor-element-4569a2cf > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-4569a2cf > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-2ea7265a {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-2ea7265a .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-2ea7265a .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-2ea7265a .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-2ea7265a .elementor-star-rating i:before {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-2ca4b20e .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-2ca4b20e .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-2ca4b20e .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-2ca4b20e .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-2ca4b20e > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-46f372a8:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-46f372a8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-46f372a8 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-46f372a8, .elementor-306 .elementor-element.elementor-element-46f372a8 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-46f372a8 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-36072969 {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-36072969 .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-36072969 .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-36072969 .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-36072969 .elementor-star-rating i:before {
	color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-43c7507a .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-43c7507a .elementor-testimonial-content {
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-43c7507a .elementor-testimonial-name {
	color: var(--e-global-color-accent);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-43c7507a .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-43c7507a > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-12572861:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-12572861 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-12572861 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-primary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-12572861, .elementor-306 .elementor-element.elementor-element-12572861 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-12572861 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-183c2ff8 {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-183c2ff8 .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-183c2ff8 .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-183c2ff8 .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-183c2ff8 .elementor-star-rating i:before {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-392d6400 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-392d6400 .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-392d6400 .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-392d6400 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-392d6400 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-73c6c6f8:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-73c6c6f8 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-73c6c6f8 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-73c6c6f8, .elementor-306 .elementor-element.elementor-element-73c6c6f8 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-73c6c6f8 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-1b509706 {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-1b509706 .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-1b509706 .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-1b509706 .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-1b509706 .elementor-star-rating i:before {
	color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-7825a3b6 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-7825a3b6 .elementor-testimonial-content {
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-7825a3b6 .elementor-testimonial-name {
	color: var(--e-global-color-accent);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-7825a3b6 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-7825a3b6 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-de4e983:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-de4e983 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-de4e983 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-primary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-de4e983, .elementor-306 .elementor-element.elementor-element-de4e983 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-de4e983 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-fc43ecc {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-fc43ecc .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-fc43ecc .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-fc43ecc .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-fc43ecc .elementor-star-rating i:before {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-1086695 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-1086695 .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-1086695 .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-1086695 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-1086695 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-eaaf5a7:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-eaaf5a7 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-eaaf5a7 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-accent);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-eaaf5a7, .elementor-306 .elementor-element.elementor-element-eaaf5a7 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-eaaf5a7 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-d2931b8 {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-d2931b8 .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-d2931b8 .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-d2931b8 .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-d2931b8 .elementor-star-rating i:before {
	color: var(--e-global-color-accent);
}

.elementor-306 .elementor-element.elementor-element-550e48f .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-550e48f .elementor-testimonial-content {
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-550e48f .elementor-testimonial-name {
	color: var(--e-global-color-accent);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-550e48f .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-550e48f > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

.elementor-306 .elementor-element.elementor-element-8da0045:not(.elementor-motion-effects-element-type-background), .elementor-306 .elementor-element.elementor-element-8da0045 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var(--e-global-color-04b92b5);
}

.elementor-306 .elementor-element.elementor-element-8da0045 {
	border-style: solid;
	border-width: 2px 2px 2px 2px;
	border-color: var(--e-global-color-primary);
	transition: background .3s, border .3s, border-radius .3s, box-shadow .3s;
	margin-top: 45px;
	margin-bottom: 0px;
	padding: 25px 25px 25px 25px;
}

.elementor-306 .elementor-element.elementor-element-8da0045, .elementor-306 .elementor-element.elementor-element-8da0045 > .elementor-background-overlay {
	border-radius: 15px 15px 15px 15px;
}

.elementor-306 .elementor-element.elementor-element-8da0045 > .elementor-background-overlay {
	transition: background .3s, border-radius .3s, opacity .3s;
}

.elementor-306 .elementor-element.elementor-element-9c4ca17 {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-9c4ca17 .elementor-star-rating {
	font-size: 24px;
}

body:not(.rtl) .elementor-306 .elementor-element.elementor-element-9c4ca17 .elementor-star-rating i:not(:last-of-type) {
	margin-right: 8px;
}

body.rtl .elementor-306 .elementor-element.elementor-element-9c4ca17 .elementor-star-rating i:not(:last-of-type) {
	margin-left: 8px;
}

.elementor-306 .elementor-element.elementor-element-9c4ca17 .elementor-star-rating i:before {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-a234772 .elementor-testimonial-wrapper {
	text-align: center;
}

.elementor-306 .elementor-element.elementor-element-a234772 .elementor-testimonial-content {
	color: var(--e-global-color-text);
	font-size: 19px;
}

.elementor-306 .elementor-element.elementor-element-a234772 .elementor-testimonial-name {
	color: var(--e-global-color-primary);
	font-weight: 600;
}

.elementor-306 .elementor-element.elementor-element-a234772 .elementor-testimonial-job {
	color: var(--e-global-color-primary);
}

.elementor-306 .elementor-element.elementor-element-a234772 > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}

@media (max-width:799px) {
	.elementor-306 .elementor-element.elementor-element-e015a6a > .elementor-element-populated {
		margin: 0px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}
	
	.elementor-306 .elementor-element.elementor-element-e015a6a > .elementor-element-populated > .elementor-widget-wrap {
		padding: 15px 15px 15px 15px;
	}
	
	.elementor-306 .elementor-element.elementor-element-10889ac4 > .elementor-element-populated > .elementor-widget-wrap {
		padding: 15px 15px 15px 15px;
	}
}
