.elementor-112 .elementor-element.elementor-element-bc27bde > .elementor-container {
	max-width: 1200px;
}

.elementor-112 .elementor-element.elementor-element-bc27bde:not(.elementor-motion-effects-element-type-background), .elementor-112 .elementor-element.elementor-element-bc27bde > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-f23f308 );
}

.elementor-112 .elementor-element.elementor-element-bc27bde > .elementor-background-overlay {
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-112 .elementor-element.elementor-element-bc27bde {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 0px 50px 0px;
}

.elementor-112 .elementor-element.elementor-element-4e49fb7.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-112 .elementor-element.elementor-element-4e49fb7 .elementor-element-populated a:hover {
	color: #30E148;
}

.elementor-112 .elementor-element.elementor-element-c451651 img {
	width: 100%;
}

.elementor-bc-flex-widget .elementor-112 .elementor-element.elementor-element-39150da.elementor-column .elementor-column-wrap {
	align-items: center;
}

.elementor-112 .elementor-element.elementor-element-39150da.elementor-column.elementor-element[data-element_type="column"] > .elementor-column-wrap.elementor-element-populated > .elementor-widget-wrap {
	align-content: center;
	align-items: center;
}

.elementor-112 .elementor-element.elementor-element-39150da.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: center;
}

.elementor-112 .elementor-element.elementor-element-39150da .elementor-element-populated a:hover {
	color: var( --e-global-color-secondary );
}

.elementor-112 .elementor-element.elementor-element-7f55ddf {
	text-align: left;
}

.elementor-112 .elementor-element.elementor-element-7f55ddf .elementor-heading-title {
	color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-7f55ddf > .elementor-widget-container {
	margin: -0px -0px -0px -0px;
}

.elementor-112 .elementor-element.elementor-element-e68aa5e {
	text-align: left;
}

.elementor-112 .elementor-element.elementor-element-e68aa5e .elementor-heading-title {
	color: #E21C21;
}

.elementor-112 .elementor-element.elementor-element-e68aa5e > .elementor-widget-container {
	margin: 0px 0px 0px 0px;
}
.elementor-433 .elementor-element.elementor-element-06f8411 .elementor-toggle-title, .elementor-433 .elementor-element.elementor-element-06f8411 .elementor-toggle-icon {
    color: #E21C21 !important;
}
.elementor-112 .elementor-element.elementor-element-316c587 > .elementor-container {
	max-width: 1200px;
}

.elementor-112 .elementor-element.elementor-element-316c587:not(.elementor-motion-effects-element-type-background), .elementor-112 .elementor-element.elementor-element-316c587 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-04b92b5 );
}

.elementor-112 .elementor-element.elementor-element-316c587 > .elementor-background-overlay {
	opacity: 0.5;
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-112 .elementor-element.elementor-element-316c587 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 20px 0px 50px 0px;
}

.elementor-112 .elementor-element.elementor-element-915473f > .elementor-widget-container {
	padding: 30px 0px 0px 0px;
}

.elementor-112 .elementor-element.elementor-element-d8689f9 > .elementor-container {
	max-width: 1200px;
}

.elementor-112 .elementor-element.elementor-element-d8689f9:not(.elementor-motion-effects-element-type-background), .elementor-112 .elementor-element.elementor-element-d8689f9 > .elementor-motion-effects-container > .elementor-motion-effects-layer {
	background-color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-d8689f9 {
	transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
	padding: 50px 0px 50px 0px;
}

.elementor-112 .elementor-element.elementor-element-d8689f9 > .elementor-background-overlay {
	transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-112 .elementor-element.elementor-element-4f22b34.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
	justify-content: space-between;
}

.elementor-112 .elementor-element.elementor-element-41c428c .elementor-heading-title {
	color: var( --e-global-color-04b92b5 );
}

.elementor-112 .elementor-element.elementor-element-41c428c {
	width: auto;
	max-width: auto;
}

.elementor-112 .elementor-element.elementor-element-1be8ce3 .elementor-button .elementor-align-icon-right {
	margin-left: 9px;
}

.elementor-112 .elementor-element.elementor-element-1be8ce3 .elementor-button .elementor-align-icon-left {
	margin-right: 9px;
}

.elementor-112 .elementor-element.elementor-element-1be8ce3 .elementor-button {
	background-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-1be8ce3 .elementor-button:hover, .elementor-112 .elementor-element.elementor-element-1be8ce3 .elementor-button:focus {
	color: var( --e-global-color-04b92b5 );
	background-color: var( --e-global-color-secondary );
}

.elementor-112 .elementor-element.elementor-element-1be8ce3 .elementor-button:hover svg, .elementor-112 .elementor-element.elementor-element-1be8ce3 .elementor-button:focus svg {
	fill: var( --e-global-color-04b92b5 );
}

.elementor-112 .elementor-element.elementor-element-1be8ce3 {
	width: auto;
	max-width: auto;
}

.elementor-112 .elementor-element.elementor-element-bb13585 > .elementor-container {
	max-width: 1200px;
}

.elementor-112 .elementor-element.elementor-element-bb13585 {
	padding: 100px 0px 100px 0px;
}

.elementor-112 .elementor-element.elementor-element-cfd6979 {
	text-align: center;
}

.elementor-112 .elementor-element.elementor-element-cfd6979 > .elementor-widget-container {
	padding: 0px 0px 20px 0px;
}

.elementor-112 .elementor-element.elementor-element-fdae3d2 > .elementor-container {
	max-width: 1000px;
}

.elementor-112 .elementor-element.elementor-element-fdae3d2 {
	margin-top: 0px;
	margin-bottom: 20px;
}

.elementor-112 .elementor-element.elementor-element-4b55569 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-112 .elementor-element.elementor-element-e1098ea img {
	width: 40%;
}

.elementor-112 .elementor-element.elementor-element-e1098ea > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-112 .elementor-element.elementor-element-35f0d53.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-35f0d53.elementor-view-framed .elementor-icon, .elementor-112 .elementor-element.elementor-element-35f0d53.elementor-view-default .elementor-icon {
	fill: var( --e-global-color-accent );
	color: var( --e-global-color-accent );
	border-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-35f0d53 {
	--icon-box-icon-margin: 15px;
}

.elementor-112 .elementor-element.elementor-element-35f0d53 .elementor-icon-box-title {
	color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-6d2e757 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-112 .elementor-element.elementor-element-4d1c502 img {
	width: 40%;
}

.elementor-112 .elementor-element.elementor-element-4d1c502 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-112 .elementor-element.elementor-element-85a4734.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-85a4734.elementor-view-framed .elementor-icon, .elementor-112 .elementor-element.elementor-element-85a4734.elementor-view-default .elementor-icon {
	fill: var( --e-global-color-accent );
	color: var( --e-global-color-accent );
	border-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-85a4734 {
	--icon-box-icon-margin: 15px;
}

.elementor-112 .elementor-element.elementor-element-85a4734 .elementor-icon-box-title {
	color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-cb9d940 > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-112 .elementor-element.elementor-element-d29bbf3 img {
	width: 40%;
}

.elementor-112 .elementor-element.elementor-element-d29bbf3 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-112 .elementor-element.elementor-element-19475e0.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-19475e0.elementor-view-framed .elementor-icon, .elementor-112 .elementor-element.elementor-element-19475e0.elementor-view-default .elementor-icon {
	fill: var( --e-global-color-accent );
	color: var( --e-global-color-accent );
	border-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-19475e0 {
	--icon-box-icon-margin: 15px;
}

.elementor-112 .elementor-element.elementor-element-19475e0 .elementor-icon-box-title {
	color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-5ae130a > .elementor-container {
	max-width: 1000px;
}

.elementor-112 .elementor-element.elementor-element-5ae130a {
	margin-top: 0px;
	margin-bottom: 50px;
}

.elementor-112 .elementor-element.elementor-element-aa1c4dc > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-112 .elementor-element.elementor-element-e333722 img {
	width: 40%;
}

.elementor-112 .elementor-element.elementor-element-e333722 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-112 .elementor-element.elementor-element-ba28d5e.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-ba28d5e.elementor-view-framed .elementor-icon, .elementor-112 .elementor-element.elementor-element-ba28d5e.elementor-view-default .elementor-icon {
	fill: var( --e-global-color-accent );
	color: var( --e-global-color-accent );
	border-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-ba28d5e {
	--icon-box-icon-margin: 15px;
}

.elementor-112 .elementor-element.elementor-element-ba28d5e .elementor-icon-box-title {
	color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-300e30d > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-112 .elementor-element.elementor-element-733859f img {
	width: 47%;
}

.elementor-112 .elementor-element.elementor-element-733859f > .elementor-widget-container {
	margin: 0px 0px -39px 0px;
}

.elementor-112 .elementor-element.elementor-element-44ad680.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-44ad680.elementor-view-framed .elementor-icon, .elementor-112 .elementor-element.elementor-element-44ad680.elementor-view-default .elementor-icon {
	fill: var( --e-global-color-accent );
	color: var( --e-global-color-accent );
	border-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-44ad680 {
	--icon-box-icon-margin: 15px;
}

.elementor-112 .elementor-element.elementor-element-44ad680 .elementor-icon-box-title {
	color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-ca43d7f > .elementor-element-populated > .elementor-widget-wrap {
	padding: 20px 20px 20px 20px;
}

.elementor-112 .elementor-element.elementor-element-3de4336 img {
	width: 40%;
}

.elementor-112 .elementor-element.elementor-element-3de4336 > .elementor-widget-container {
	margin: 0px 0px -30px 0px;
}

.elementor-112 .elementor-element.elementor-element-3de4336 {
	z-index: 2;
}

.elementor-112 .elementor-element.elementor-element-502f8f0.elementor-view-stacked .elementor-icon {
	background-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-502f8f0.elementor-view-framed .elementor-icon, .elementor-112 .elementor-element.elementor-element-502f8f0.elementor-view-default .elementor-icon {
	fill: var( --e-global-color-accent );
	color: var( --e-global-color-accent );
	border-color: var( --e-global-color-accent );
}

.elementor-112 .elementor-element.elementor-element-502f8f0 {
	--icon-box-icon-margin: 15px;
}

.elementor-112 .elementor-element.elementor-element-502f8f0 .elementor-icon-box-title {
	color: var( --e-global-color-primary );
}

.elementor-112 .elementor-element.elementor-element-07fd48f > .elementor-widget-container {
	margin: 20px 0px 0px 0px;
}

@media(max-width:1199px) {
	.elementor-112 .elementor-element.elementor-element-bc27bde {
		padding: 20px 40px 40px 40px;
	}

	.elementor-112 .elementor-element.elementor-element-7f55ddf {
		text-align: left;
	}

	.elementor-112 .elementor-element.elementor-element-e68aa5e {
		text-align: left;
	}

	.elementor-112 .elementor-element.elementor-element-316c587 {
		padding: 0px 40px 40px 40px;
	}

	.elementor-112 .elementor-element.elementor-element-d8689f9 {
		padding: 50px 50px 50px 50px;
	}

	.elementor-112 .elementor-element.elementor-element-4f22b34.elementor-column > .elementor-column-wrap > .elementor-widget-wrap {
		justify-content: center;
	}

	.elementor-112 .elementor-element.elementor-element-41c428c {
		text-align: center;
	}

	.elementor-112 .elementor-element.elementor-element-1be8ce3 > .elementor-widget-container {
		margin: 30px 0px 0px 0px;
	}

	.elementor-112 .elementor-element.elementor-element-bb13585 {
		padding: 60px 40px 60px 40px;
	}

	.elementor-112 .elementor-element.elementor-element-fdae3d2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-112 .elementor-element.elementor-element-e1098ea img {
		width: 22%;
	}

	.elementor-112 .elementor-element.elementor-element-e1098ea > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-112 .elementor-element.elementor-element-4d1c502 img {
		width: 22%;
	}

	.elementor-112 .elementor-element.elementor-element-4d1c502 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-112 .elementor-element.elementor-element-d29bbf3 img {
		width: 22%;
	}

	.elementor-112 .elementor-element.elementor-element-d29bbf3 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-112 .elementor-element.elementor-element-e333722 img {
		width: 22%;
	}

	.elementor-112 .elementor-element.elementor-element-e333722 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-112 .elementor-element.elementor-element-733859f img {
		width: 22%;
	}

	.elementor-112 .elementor-element.elementor-element-733859f > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-112 .elementor-element.elementor-element-3de4336 img {
		width: 22%;
	}

	.elementor-112 .elementor-element.elementor-element-3de4336 > .elementor-widget-container {
		margin: 0px 0px -20px 0px;
	}

	.elementor-112 .elementor-element.elementor-element-3de4336 {
		z-index: 2;
	}

	.elementor-112 .elementor-element.elementor-element-502f8f0 .elementor-icon-box-wrapper {
		text-align: center;
	}

	.elementor-112 .elementor-element.elementor-element-502f8f0 {
		z-index: 2;
	}

	.elementor-112 .elementor-element.elementor-element-07fd48f > .elementor-widget-container {
		margin: 0px 0px 0px 0px;
	}
}

@media(max-width:799px) {
	.elementor-112 .elementor-element.elementor-element-bc27bde {
		padding: 0px 20px 30px 20px;
	}

	.elementor-112 .elementor-element.elementor-element-c451651 {
		text-align: center;
	}

	.elementor-112 .elementor-element.elementor-element-c451651 img {
		width: 40%;
	}

	.elementor-112 .elementor-element.elementor-element-39150da > .elementor-element-populated {
		margin: -20px 0px 0px 0px;
		--e-column-margin-right: 0px;
		--e-column-margin-left: 0px;
	}

	.elementor-112 .elementor-element.elementor-element-7f55ddf {
		text-align: center;
	}

	.elementor-112 .elementor-element.elementor-element-7f55ddf .elementor-heading-title {
		font-size: 40px;
	}

	.elementor-112 .elementor-element.elementor-element-e68aa5e {
		text-align: center;
	}

	.elementor-112 .elementor-element.elementor-element-e68aa5e .elementor-heading-title {
		font-size: 18px;
	}

	.elementor-112 .elementor-element.elementor-element-316c587 {
		padding: 0px 20px 30px 20px;
	}

	.elementor-112 .elementor-element.elementor-element-d8689f9 {
		padding: 20px 20px 20px 20px;
	}

	.elementor-112 .elementor-element.elementor-element-bb13585 {
		padding: 40px 20px 40px 20px;
	}

	.elementor-112 .elementor-element.elementor-element-fdae3d2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-112 .elementor-element.elementor-element-e1098ea img {
		width: 29%;
	}

	.elementor-112 .elementor-element.elementor-element-4d1c502 img {
		width: 33%;
	}

	.elementor-112 .elementor-element.elementor-element-d29bbf3 img {
		width: 33%;
	}

	.elementor-112 .elementor-element.elementor-element-5ae130a {
		margin-top: 0px;
		margin-bottom: 0px;
	}

	.elementor-112 .elementor-element.elementor-element-e333722 img {
		width: 36%;
	}

	.elementor-112 .elementor-element.elementor-element-733859f img {
		width: 38%;
	}

	.elementor-112 .elementor-element.elementor-element-3de4336 img {
		width: 32%;
	}
}

@media(min-width:800px) {
	.elementor-112 .elementor-element.elementor-element-4e49fb7 {
		width: 16.583%;
	}

	.elementor-112 .elementor-element.elementor-element-39150da {
		width: 83.417%;
	}
}

@media(max-width:1199px) and (min-width:800px) {
	.elementor-112 .elementor-element.elementor-element-4b55569 {
		width: 100%;
	}

	.elementor-112 .elementor-element.elementor-element-6d2e757 {
		width: 100%;
	}

	.elementor-112 .elementor-element.elementor-element-cb9d940 {
		width: 100%;
	}

	.elementor-112 .elementor-element.elementor-element-aa1c4dc {
		width: 100%;
	}

	.elementor-112 .elementor-element.elementor-element-300e30d {
		width: 100%;
	}

	.elementor-112 .elementor-element.elementor-element-ca43d7f {
		width: 100%;
	}
}